

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  

    <%= f.text_field :fullname, autocomplete: "name", :placeholder => t('helpers.placeholder.name') %>

  </div>  

  <div class="field">
 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
  </div>
   <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">

    <% if @minimum_password_length %>

    <em>(<%= @minimum_password_length %> <%= t ".characters_minimum" %>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => t('helpers.placeholder.password') %>

  </div>

  <div class="field">

    <%= f.password_field :password_confirmation, autocomplete: "new-password",:placeholder => t('helpers.placeholder.password_confirmation') %>

  </div>

 <div class = "button-login ">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
 </div>
<% end %>


