<header class="main-header">

    <!-- Logo -->
    <a href="<%= root_path%>" class="logo">
      <span class="logo-lg"><b> <%= t("links.home") %></b></span>
    </a>


    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <div class="btn-group">
        <span class = "lang"><%= link_to "en", locale:"en" %> | <%= link_to "vi", locale:"vi" %> </span>
      </div>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKrO43xHSa6I2eFXoXgA1lsqJQwrGSZrXE7w&usqp=CAU" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= current_user.fullname%></span>
            </a>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>