<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <i class='fas fa-store-alt admin-logo' ></i>
        </div>
        <div class="pull-left info">
          <p>PR2005F-Shop</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview menu-open">
          <a href="<%= admin_static_pages_home_path%>">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        <li class="treeview" style="height: auto;">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Products</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="<%= admin_products_path %>"><i class="fa fa-circle-o"></i><%= t("links.All_products") %>  </a></li>
            <li><a href="<%= new_admin_product_path %>"><i class="fa fa-circle-o"></i><%= t("links.Create product") %> </a></li>
          </ul>
        </li>
        <li class="treeview" style="height: auto;">
            <%= link_to admin_users_path do %>
              <i class="fa fa-cubes"></i>
              <span><%= t("links.Users") %></span>
            <% end %> 
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  