<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKrO43xHSa6I2eFXoXgA1lsqJQwrGSZrXE7w&usqp=CAU" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= current_user.fullname%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class = "sidebar_unit" >
          <a href="<%= admin_static_pages_home_path%>">
            <i class="fa fa-dashboard"></i> 
            <span><%= t("links.Dashboard") %></span>      
          </a>
        </li>
        <li class = "sidebar_unit" >
            <%#= link_to admin_user_products_path do %>
              <i class="fa fa-cubes"></i>
              <span><%= t("links.Products") %></span>
            <%# end %> 
        </li>
        <li class = "sidebar_unit" >
            <%= link_to admin_user_orders_path(current_user) do %>
              <i class="fa fa-shopping-bag"></i>
              <span><%= t("links.Orders") %></span>
            <% end %> 
        </li>
        <li class = "sidebar_unit" >
            <%= link_to admin_users_path do %>
              <i class="fa fa-users"></i>
              <span><%= t("links.Users") %></span>
            <% end %> 
        </li>
        <li class = "sidebar_unit" >
            <%= link_to admin_comments_path do %>
              <i class="fa fa-comments"></i>
              <span><%= t("links.comments") %></span>
            <% end %> 
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  