<!DOCTYPE html>
<html>
  <head>
    <title>Rails6 AdminLTE 2.4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#add").click(function(){
          $(".div1").load("<%= new_admin_product_path%> .div2")
        });
      });
    </script>

  </head>

  <body class="hold-transition skin-blue sidebar-mini">

      <div class="wrapper">
        <%= render "layouts/admin/header" %>
        <%= render "layouts/admin/sidebar" %>
        <%= yield %>         
        <%= render "layouts/admin/footer" %>
        <%= render "layouts/admin/control_sidebar" %>
      <div>
  </body>
</html>