<% if current_cart.content.present? %>
	<% current_cart.content.each do|key, value| %>
		<% @product_detail= ProductDetail.find_by id:"#{key}" %>

			<tr class ="xoa-<%= @product_detail.id %>">
				<td class="cart_product">
					<a href=""><img src="images/cart/one.png" alt=""></a>
				</td>
				<td class="cart_description">
					<h4><%= @product_detail.product.name %></h4>
					<p >ID<%= "#{key}" %></p>
				</td>
				<td class="cart_price" >
					<p id ="unit-price-<%= @product_detail.id %>" ><%= @product_detail.price %></p>
				</td>

				<td class="price">
					<input type="hidden" class= "value-size-<%= @product_detail.id %>" value = "<%= @product_detail.size %>" > 
					<% if @product_detail.size = 1 %>
						<span>M</span>
					<% elsif @product_detail.size = 2 %>
						<span>L</span>
					<% else @product_detail.size = 3 %>
						<span>XL</span>
					<%end%>
					, <span id = "color-<%= @product_detail.id %>" ><%= @product_detail.color %></span>
				</td>


				<td class="cart_quantity"  >
					<div class="cart_quantity_button">
						<button class="add-key" data-iddetail="<%= @product_detail.id %>" data-idproduct= "<%= @product_detail.product_id %>" 
							> + </button>
						<input class="quantity-<%= @product_detail.id %>" name="quantity" value= "<%=@quantity %>" autocomplete="off" >
						<button class="minus-key" data-iddetail="<%= @product_detail.id %>" data-idproduct= "<%= @product_detail.product_id %>" > - </button>
					</div>
				</td>
				<td class="cart_total">
					<p id="cart_total_price-<%= @product_detail.id %>"><%="#{value}".to_i*@product_detail.price%> </p>
				</td>
				<td class="cart_delete-<%= @product_detail.id %>">
					<button class="delete-product" data-id = "<%= @product_detail.id %>">X</button>
				</td>
			</tr>

	<% end %>	
	
<% end %>

