<div id = "sub_comment-<%= sub_comment.id %>" style = "margin-top:20px">
	<%= link_to (sub_comment.user.email), user_path(sub_comment.user) %>
	<br />
	<%= sub_comment.content %>
	<br>
	<span class  = "delete-subcomment" data-id = "<%= sub_comment.id %>">
		<%= link_to comment_sub_comment_path(sub_comment.comment, sub_comment),id: "delete-subcomment#{sub_comment.id} ", method: :delete,data: {alert: "are you sure?"}, remote: true do %>
		<i class='fas fa-trash-alt' style='font-size:15px;color:red'></i>
		<% end %>
	</span>
</div>
