<div class="content-wrapper" style="min-height: 926px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%=t ".dashboard"%>
     
      </h1>
      <ol class="breadcrumb">
        <li>
        	<%= link_to "#" do  %>
            	<i class="fa fa-dashboard"></i><%=t ".home"%>
          	<% end %>
        </li>  	
        <li><%= link_to (t ".dashboard"), "#"%></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">

	        <div class="col-lg-4 col-xs-6">
	          <!-- small box -->
	          <div class="small-box bg-aqua">
	            <div class="inner">
	              <h3><%= Order.all.count_order.count %></h3>

	              <p><%=t ".new_orders"%></p>
	            </div>
	            <div class="icon">
	              <i class="fa fa-shopping-bag"></i>
	            </div>
	            <%= link_to admin_orders_path, class: "small-box-footer" do  %>
	            	<%=t ".more_info"%> <i class="fa fa-arrow-circle-right"></i>
	          	<% end %>
	          </div>
	        </div>
	        <!-- ./col -->
	        <div class="col-lg-4 col-xs-6">
	          <!-- small box -->
	          <div class="small-box bg-green">
	            <div class="inner">
	              <h3><%= Comment.all.count_comment.count %></h3>

	              <p><%=t ".new_comment"%></p>
	            </div>
	            <div class="icon">
	              <i class="fa fa-comments"></i>
	            </div>
	            <%= link_to admin_comments_path, class: "small-box-footer" do  %>
	            	<%=t ".more_info"%> <i class="fa fa-arrow-circle-right"></i>
	          	<% end %>
	          </div>
	        </div>
	        <!-- ./col -->
	        <div class="col-lg-4 col-xs-6">
	          <!-- small box -->
	          <div class="small-box bg-yellow">
	            <div class="inner">
	              <h3><%= User.all.count_user.count %></h3>

	              <p><%=t ".new_user_registrations"%></p>
	            </div>
	            <div class="icon">
	              <i class="fa fa-users"></i>
	            </div>
	            <%= link_to admin_users_path, class: "small-box-footer" do  %>
	            	<%=t ".more_info"%> <i class="fa fa-arrow-circle-right"></i>
	          	<% end %>
	          </div>
	        </div>
        </div>
    </section>

      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
          
          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title"><%=t ".latest_orders"%></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th><%=t ".order-id"%></th>
                    <th><%=t ".items"%></th>
                    <th><%=t ".order_status"%></th>
                    <th><%=t ".total_price"%></th>
                  </tr>
                  </thead>

                   <% @orders.each do |order| %>
                    <% order_details = order.order_details %>
                    <tbody>
                    <tr>
                      <td><a href="#"><%=order.id%></a></td>
                      <td>
                        <%product_details = order_details.map{|order_detail| 
                          ProductDetail.find_by(id: order_detail.product_detail_id) } %>

                        <%product_names = product_details.map{|product_detail| 
                          Product.find_by(id: product_detail.product_id).name }.uniq %>

                        <% product_names.each do |product_name| %>
                          <%= product_name%>,
                        <%end%>

                      </td>
                      <td><span class = "label <%=order.order_status%>">
                          <%=t ".order_status"+Order.order_statuses[order.order_status].to_s %>
                        </span>
                      </td>
                        <th><%=number_to_currency(order.total_price)%></th>                         
                  </tr>
                  <% end %>

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
            	<%= link_to (t ".view_all_orders"), admin_orders_path%>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">       
          <!-- PRODUCT LIST -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%=t ".recently_added_products"%></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
              	<% @products.each do |product| %>
	                <% product_detail_prices = product.product_details.map{ |product_detail| product_detail.price }.uniq%>
	                <li class="item">
	                  <div class="product-img">
	                    <%=image_tag product.image.first if product.image.attached? %>
	                  </div>
	                  <div class="product-info">
	                    <a href="javascript:void(0)" class="product-title"><%=product.name%>
	                      <span class="label label-warning pull-right">
	                      	<% if product_detail_prices.length == 1%>
		                      <th><%=number_to_currency(product_detail_prices.first)%></th>
		                    <% else %>
		                      <th><%=number_to_currency(product_detail_prices.min)%> - <%=number_to_currency(product_detail_prices.max)%></th>
		                    <%end%>                     		
	                      </span></a>
	                    <span class="product-description">
	                    	<%=t ".product_type"+Product.product_types[product.product_type].to_s %>,
	                    	<%=t ".classify"+Product.classifies[product.classify].to_s %>
	                    </span>
	                  </div>
	                </li>
                <% end %>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
            	<%= link_to (t ".view_all_products"), admin_products_path%>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>