<div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
<section class="content-header text-center">
  <h1 >
    Edit product details 
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Product details</a></li>
    <li class="active">Edit</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="box box-primary">

          <%= form_for [:admin, @product_detail] do |f| %>
            <div class="box-body">
              <div class="form-group">
                <%= f.label :color, "Product name" %>
                <%= f.text_field :color, class: 'form-control', placeholder:"Enter color" %>
              </div>

              <div class="form-group">
               
                <div class="classify-list">
    			    <div class="form-group">
                <%= f.label :size, "size" %>
                <div class="classify-list">
                  <div><%= f.select :size, options_for_select(ProductDetail.sizes.keys)%></div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :price, "Price" %>
                <%= f.text_field :price, class: 'form-control', placeholder:"Enter price" %>
              </div>

              <div class="box-footer">
              <%= f.submit "Update product detail" %>
          	  </div>
            </div>
          <% end %>


      </div>
    </div>

  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>