

<div class = "container">
	<div class = "row">
		<div class="col-sm-9 padding-right" >
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product phongto">

								<%= image_tag @product.image[0] if @product.image.attached? %>
								
								<h3 class = "phongto">ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->

        
								    <div class="carousel-inner ">
								    	<% @product.image.all.map do |img| %>
          									<div class = "item active"> 
          										<%=image_tag img if @product.image.attached? %> 
          									</div> 
										<% end %>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="">

								<h2><%= @product.name %></h2>
								<p>Product code: <%= @product.id %></p>
								<img src="images/product-details/rating.png" alt="">
								<span >
									<span ><%=  @product.product_details.pluck(:price)[0] %>$ </span>
									
									<label><%= t".Quantity" %>:</label>

								<p id="notice-select"></p>
								<span>
									
									<button id ="add">+</button>
									<input id ="result_quantity" type ="text" value = "1">
									<button id ="reduce">-</button>

									
										<button type="button" class="btn btn-fefault cart button-cart">
											<i class="fa fa-shopping-cart"></i>


										Add to cart
									</button>

									<input type="text" value=""><br>
									<h3>color:</h3>
									<p class = "color_select">
										<% option_for_color.map do |c| %>
											<label>
												<input type = "radio" name="color" class = "color-button" 
													value= "<%= c %>"  id = "color-<%= c %>" data-id = "<%=c %>" >
												<span><%=c %></span>
											</label> 
										<% end %><br>
									</p>
									<h3>Size:</h3>
									<p class = "size_select">
										<% option_for_size.map do |s| %>
											<label>
												<input type = "radio" name="size" class = "size-button" id  = "size-button<%=s %>"
													value= "<%= s %>" data-id = "<%=s %>"  >
												<span id = "size-<%= s %>" style = "display: none"><%=s %></span>
											</label> 

										<% end %>
									</p>	

								</span>

								<p><b><%= t".Availability" %>:</b> In Stock</p>
								<p><b><%= t"products.show.Condition" %>: </b> New</p>
								<p><b><%= t".Store"%>:</b> E-SHOPPER</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>
								<li class="active" >
									<a href="#reviews" data-toggle="tab">Comments 
										<span id="count-comment">(<%= @product.comments.count %>)</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="companyprofile">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="tag">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="">
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									<ul>
										<% if user_signed_in? %>
											<li>
												<%= link_to  user_path(current_user) do %>
													<i class="fa fa-user"><%= current_user.email %></i>
												<% end %>
											</li>
										<% end %>
										<li><a href=""><i class="fa fa-clock-o"></i><%= Time.now.strftime("%H giờ %M phút ") %></a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i><%= Time.now.strftime(" ngày %d tháng  %m năm %Y") %></a></li>
									</ul>
									<p>Chỗ này thêm mô tả cho sản phẩm.</p>
									<p><b>Let us know your opinion</b></p>
								<div class = "row">
									<% if user_signed_in? %>	
									   <%= render "comments/form", product: @product, parent_id:"", comment_new: @comment %>	
									<% end %> 
								
									<div id = "append-comment">		
										<% if @product.comments.any? %>
											<%= render @comments.includes([:user]) %>

										<% end %>
									</div>
									<div id = "infinite-scrolling">
										
									</div>		
  								</div>			 
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item next left">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<!-- những ảnh khác của sản phẩm -->
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
		</div>
	</div>
</div>		

